@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "Space Mono", monospace;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  caret-color: #00494d;
  -moz-appearance: textfield;
}

.main {
  background-color: #c5e4e7;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.calculator-main {
  background-color: white;
  border-radius: 20px;
  width: 60vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 18px 4px rgba(180, 219, 219, 0.4);
  box-shadow: 0px 5px 18px 4px rgba(180, 219, 219, 0.4);
}

.calculator-main .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 1rem;
}

.calculator-main .buttons .buttons-bill {
  font-family: "Space Mono", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator-main .buttons .buttons-bill p {
  font-size: 0.6rem;
  font-weight: 600;
  color: #00494d;
  margin-bottom: 0.4rem;
  opacity: 0.9;
}

.calculator-main .buttons .buttons-bill input {
  background-color: #f4fafa;
  border: 2px solid transparent;
  border-radius: 4px;
  color: #00494d;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
  background-image: url("./../images/icon-dollar.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-bottom: 1rem;
}

.calculator-main .buttons .buttons-bill input::-webkit-input-placeholder {
  color: #7f9c9f;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
}

.calculator-main .buttons .buttons-bill input:-ms-input-placeholder {
  color: #7f9c9f;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
}

.calculator-main .buttons .buttons-bill input::-ms-input-placeholder {
  color: #7f9c9f;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
}

.calculator-main .buttons .buttons-bill input::placeholder {
  color: #7f9c9f;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
}

.calculator-main .buttons .buttons-bill input:focus {
  border: 2px solid #26c0ab;
  outline: none;
}

.calculator-main .buttons .tip-percent p {
  font-size: 0.6rem;
  font-weight: 600;
  color: #00494d;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  opacity: 0.9;
}

.calculator-main .buttons .tip-percent .tip-percent-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.calculator-main .buttons .tip-percent .tip-percent-grid input {
  width: 100%;
  background-color: #f4fafa;
  border: 2px solid transparent;
  border-radius: 4px;
  color: #00494d;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
  background-image: url("./../images/icon-dollar.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  background-image: none;
  text-align: center;
  padding: 0 0.2rem;
}

.calculator-main .buttons .tip-percent .tip-percent-grid input::-webkit-input-placeholder {
  color: #7f9c9f;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
}

.calculator-main .buttons .tip-percent .tip-percent-grid input:-ms-input-placeholder {
  color: #7f9c9f;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
}

.calculator-main .buttons .tip-percent .tip-percent-grid input::-ms-input-placeholder {
  color: #7f9c9f;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
}

.calculator-main .buttons .tip-percent .tip-percent-grid input::placeholder {
  color: #7f9c9f;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
}

.calculator-main .buttons .tip-percent .tip-percent-grid input:focus {
  border: 2px solid #26c0ab;
  outline: none;
}

.calculator-main .buttons .tip-percent .tip-percent-grid input::-webkit-input-placeholder {
  text-align: center;
}

.calculator-main .buttons .tip-percent .tip-percent-grid input:-ms-input-placeholder {
  text-align: center;
}

.calculator-main .buttons .tip-percent .tip-percent-grid input::-ms-input-placeholder {
  text-align: center;
}

.calculator-main .buttons .tip-percent .tip-percent-grid input::placeholder {
  text-align: center;
}

.calculator-main .buttons .tip-percent .tip-percent-grid input[type="radio"] {
  border: none;
  width: 0px;
  opacity: 0;
  outline: none;
  position: fixed;
}

.calculator-main .buttons .tip-percent .tip-percent-grid input[type="radio"]:hover + label,
.calculator-main .buttons .tip-percent .tip-percent-grid input[type="radio"]:focus + label,
.calculator-main .buttons .tip-percent .tip-percent-grid input[type="radio"]:focus-visible + label,
.calculator-main .buttons .tip-percent .tip-percent-grid input[type="radio"]:focus-within + label,
.calculator-main .buttons .tip-percent .tip-percent-grid input[type="radio"]:active + label {
  color: #00494d;
  background: #a1e8e0;
}

.calculator-main .buttons .tip-percent .tip-percent-grid input[type="radio"]:checked + label {
  color: #00494d;
  background: #26c0ab;
}

.calculator-main .buttons .tip-percent .tip-percent-grid label {
  display: inline-block;
  font-size: 1rem;
  padding: 0.3rem 0.7rem;
  color: #f4fafa;
  background: #00494d;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.calculator-main .buttons .num-people {
  font-family: "Space Mono", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator-main .buttons .num-people p {
  font-size: 0.6rem;
  font-weight: 600;
  color: #00494d;
  margin-bottom: 0.4rem;
  margin-top: 1.3rem;
  opacity: 0.9;
}

.calculator-main .buttons .num-people input {
  background-color: #f4fafa;
  border: 2px solid transparent;
  border-radius: 4px;
  color: #00494d;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
  background-image: url("./../images/icon-dollar.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  background-image: url("./../images/icon-person.svg");
  margin-bottom: 0.5rem;
}

.calculator-main .buttons .num-people input::-webkit-input-placeholder {
  color: #7f9c9f;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
}

.calculator-main .buttons .num-people input:-ms-input-placeholder {
  color: #7f9c9f;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
}

.calculator-main .buttons .num-people input::-ms-input-placeholder {
  color: #7f9c9f;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
}

.calculator-main .buttons .num-people input::placeholder {
  color: #7f9c9f;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
}

.calculator-main .buttons .num-people input:focus {
  border: 2px solid #26c0ab;
  outline: none;
}

.calculator-main .display {
  background-color: #00494d;
  width: 50%;
  margin: 1rem 1rem;
  padding: 1.5rem 1rem;
  border-radius: 14px;
}

.calculator-main .display .display-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator-main .display .display-grid .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.calculator-main .display .display-grid .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator-main .display .display-grid p {
  font-size: 0.6rem;
  color: #f4fafa;
  font-weight: 600;
}

.calculator-main .display .display-grid p small {
  font-size: 0.45rem;
  color: #7f9c9f;
  font-weight: 600;
}

.calculator-main .display .display-grid label {
  color: #26c0ab;
  font-weight: 600;
  font-size: 1.7rem;
}

.calculator-main .display .btn-reset {
  width: 100%;
}

.calculator-main .display .btn-reset button {
  width: 100%;
  border-radius: 4px;
  border: none;
  background-color: #26c0ab;
  font-weight: 600;
  color: #00494d;
  padding: 0.3rem 0;
  margin-top: 2.5rem;
}

.calculator-main .display .btn-reset button:hover, .calculator-main .display .btn-reset button:active {
  color: #00494d;
  background: #a1e8e0;
  cursor: pointer;
}

.calculator-main .display .btn-reset button:disabled {
  opacity: 0.1;
}

@media all and (min-width: 1280px) {
  .calculator-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media all and (max-width: 1280px) {
  .calculator-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */