@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

//Fonts
$main-font: "Space Mono", monospace;

// Colors
$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$dark-grayish: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$light-grayish: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$light-cyan: hsl(173, 61%, 77%);

* {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: $main-font;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

//mixin input
@mixin input-style {
  background-color: $light-grayish;
  border: 2px solid transparent;
  border-radius: 4px;
  color: $very-dark-cyan;
  font-weight: 600;
  text-align: right;
  padding-right: 0.5rem;
  background-image: url("./../images/icon-dollar.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;

  &::placeholder {
    color: $dark-grayish;
    font-weight: 600;
    text-align: right;
    padding-right: 0.5rem;
  }
  &:focus {
    border: 2px solid $strong-cyan;
    outline: none;
  }
}

.main {
  background-color: $light-grayish-cyan;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

//Logo
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.calculator-main {
  background-color: $white;
  border-radius: 20px;
  width: 60vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -webkit-box-shadow: 0px 5px 18px 4px rgba(180, 219, 219, 0.4);
  box-shadow: 0px 5px 18px 4px rgba(180, 219, 219, 0.4);

  .buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1rem;
    .buttons-bill {
      font-family: $main-font;
      display: flex;
      flex-direction: column;
      p {
        font-size: 0.6rem;
        font-weight: 600;
        color: $very-dark-cyan;
        margin-bottom: 0.4rem;
        opacity: 0.9;
      }
      input {
        @include input-style;
        margin-bottom: 1rem;
      }
    }

    .tip-percent {
      p {
        font-size: 0.6rem;
        font-weight: 600;
        color: $very-dark-cyan;
        margin-bottom: 0.4rem;
        margin-top: 0.4rem;
        opacity: 0.9;
      }
      .tip-percent-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        // justify-content: space-around;
        button {
          background-color: $very-dark-cyan;
          color: $white;
          border: none;
          border-radius: 4px;

          &:hover {
            background-color: $strong-cyan;
            cursor: pointer;
            color: $very-dark-cyan;
            font-weight: 600;
          }
        }
        input {
          width: 100%;
          @include input-style;
          background-image: none;
          text-align: center;
          padding: 0 0.2rem;
        }
      }
    }
    .num-people {
      font-family: $main-font;
      display: flex;
      flex-direction: column;
      p {
        font-size: 0.6rem;
        font-weight: 600;
        color: $very-dark-cyan;
        margin-bottom: 0.4rem;
        margin-top: 1.3rem;
        opacity: 0.9;
      }
      input {
        @include input-style;
        background-image: url("./../images/icon-person.svg");
        margin-bottom: 0.5rem;
      }
    }
  }

  .display {
    background-color: $very-dark-cyan;
    width: 50%;
    margin: 0 1rem;
    padding: 1.5rem 1rem;
    border-radius: 14px;
    .display-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      align-items: start;
      p {
        font-size: 0.6rem;
        color: $light-grayish;
        font-weight: 600;
        small {
          font-size: 0.45rem;
          color: $dark-grayish;
          font-weight: 600;
        }
      }
      label {
        text-align: right;
        color: $strong-cyan;
        font-weight: 600;
        font-size: 1.7rem;
        justify-self: end;
      }
    }

    .btn-reset {
      width: 100%;
      button {
        width: 100%;
        border-radius: 4px;
        border: none;
        background-color: $strong-cyan;
        font-weight: 600;
        color: $very-dark-cyan;
        padding: 0.3rem 0;
        margin-top: 2.5rem;
        &:disabled {
          opacity: 0.1;
        }
      }
    }
  }
}
